::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.candidate-result {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  padding-right: 80px;
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
  -webkit-transition: box-shadow, -webkit-transform;
  transition: box-shadow, -webkit-transform;
  transition: box-shadow, transform;
  transition: box-shadow, transform, -webkit-transform;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
}
.candidate-result:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}
.candidate__name {
  font-size: 22px;
  margin-bottom: 0.2em;
}
.candidate__description {
  font-size: 0.8em;
  font-weight: 300;
}
.candidate__percent {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -0.5em;
}
.candidate__bar {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: width 1s linear;
  transition: width 1s linear;
}
.resultshead {
  width: 90%;
  max-width: 400px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 0;
  right: 10%;
}
.positionslist {
  max-height: 530px;
  background-color: white;
  border-width: 2px;
  border: none;
  border-right: groove;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  width: 80%;
}
.positionsItem {
  width: 89%;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 80px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  border-radius: 0px 20px 20px 0px !important;
}
.positionsItem:hover {
  width: 89%;
  padding-top: 7px;
  padding-bottom: 7px;
  max-height: 80px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-color: white;
  color: black;
  transform: scale(1.2);
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: maroon;
  border-radius: 0px 20px 20px 0px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.positionlistgroup {
  width: 100%;
  background-color: white !important;
  background: linear-gradient(
    90deg,
    maroon,
    maroon 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white !important;
  border-color: white !important;
  font-family: "Open Sans", sans-serif;
  font-size: 21px !important;
  text-decoration: none !important;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25) !important;
  border-radius: 0px 20px 20px 0px !important;
}
.positiongroupdrop {
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
.positionname {
  font-family: "Roboto", "sans-serif";
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 1000;
  color: white !important;
  width: 100%;
  padding: 20px;
  background-color: #6f2891;
  background: linear-gradient(
    -90deg,
    #2a073a,
    #6f2891 100%,
    rgba(0, 212, 255, 1) 100%
  );
  margin-bottom: 25px;
}
.positionslistcol {
  padding-left: 0px !important;
}
.headimg{
  margin:auto;
}
@media only screen and (max-width: 1150px) {
  .positionsItem {
    font-size: 14px;
  }
  .positionsItem:hover {
    font-size: 14px;
  }
  .positionname {
    font-size: 28px;
  }
}
@media only screen and (max-width: 960px) {
  .positionsItem {
    font-size: 9px;
  }
  .positionsItem:hover {
    font-size: 9px;
  }
  .positionname {
    font-size: 25px;
  }
}
@media only screen and (max-width: 760px) {
  .positionslistcol {
    display: none;
  }
  .resultshead {
    width: 90%;
    max-width: 400px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    position: relative;
    top: 0;
    right: 0;
  }
  .positionslistbtn {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    min-width: 150px;
    display: block !important;
    margin-top: 3%;
    margin-bottom: 4%;
    background-color: white !important;
    color: #6f2891 !important;
    border-color: #6f2891 !important;
    font-family: "Open Sans", sans-serif;
    box-shadow: none !important;
  }
  .modalbody {
    min-height: 300p;
  }
  .positionslist {
    max-height: 530px;
    background-color: white;
    border-width: 0px;
    border: none;
    border-right: none;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    width: 95%;
    margin: auto;
  }
  .positionsItem {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 80px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 14px;
    padding-right: 26.5px;
    padding-left: 26.5px;
    border-radius: 10px;
    margin: auto;
  }
  .positionsItem:hover {
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 80px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background-color: white;
    color: black;
    transform: scale(1.1);
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    border-radius: 5px 5px 5px 5px !important;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .modalhead {
    background-color: #6f2891;
    color: white !important;
    background: linear-gradient(
      -90deg,
      #2a073a,
      #6f2891 100%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  .close {
    color: white !important;
  }
  .positionlistgroup {
    width: 98%;
    background-color: white !important;
    color: white !important;
    border-color: white !important;
    font-family: "Open Sans", sans-serif;
    font-size: 21px !important;
    text-decoration: none !important;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25) !important;
    margin: 2px;
    border-radius: 7px !important;
  }
  .positionname {
    font-family: "Roboto", "sans-serif";
    letter-spacing: 1px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 1000;
    color: white !important;
    width: 100%;
    padding: 20px;
  }
}
