.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Button{
  position:relative;
    background-color:#8930b1!important;
    border-color:#8930b1 !important;
    font-family: 'Open Sans', sans-serif;
    color:white;
    border:none !important;
    z-index:100;
}
.Button:focus,.Button:active {
   outline: none !important;
   box-shadow: none;
}
.Button:hover{
    background-color:#6f2891!important;
    border-color:#6f2891 !important;
    font-family: 'Open Sans', sans-serif;
}

.NavBar{

    background-color:#e9deff !important;
    color:white !important;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.NavLink{
    background-color:#e9deff !important;
    color: rgba(0,0,0,1) !important;
    font-family: 'Open Sans', sans-serif;
    position: relative;

}
.secondary_Text{
font-family: 'Open Sans', 'sans-serif';
font-size:1.4rem !important;

}
.primary_Text{
  color:#752a87;
  font-size:2rem !important;

font-family: 'Roboto', 'sans-serif';

}

.error{
    color:red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
